@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");

.lemon-regular {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #292929;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.input,
.output {
  width: 40%;
}

h2 {
  text-align: center;
  color: white;
  font-size: 3.5vh;
  font-weight: bolder;
  margin: 3vh;
}

#input,
#note {
  height: 60vh;
  width: 100%;
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 20px;
  background-color: #333;
  border: 1px solid #555555;
  border-radius: 10px;
  padding: 2rem;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  color: white;
  resize: none;
  outline: none;
}

#input:focus,
#note:focus,
#note:hover {
  transform: scale(1.01);
  border: 1px solid gold;
}

#note {
  font-family: "Lemon", serif;
}

#input {
  font-weight: lighter;
}

@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
  }
  .input,
  .output {
    width: 80%;
  }
}
